@font-fase {
  font-family: "Gilroy Light";
    src: url(../font/Gilroy-Light.woff2) format("woff2"),
        url(../font/Gilroy-Light.woff) format("woff");
    font-weight: 300;
    font-style: normal; 
}

@font-face {
  font-family: "Gilroy Extra Bold";
    src: url(../font/Gilroy-ExtraBold.woff2) format("woff2"),
        url(../font/Gilroy-ExtraBold.woff) format("woff");
    font-weight: 800;
    font-style: normal; 
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  padding: 0px;
  width: 100%;
  margin: 0 auto;
  font-family: "Gilroy", "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 300;
  background: #ffffff;
}
.page-header {
  position: relative;
  margin-bottom: 60px;
}
.page-header::after {
  position: absolute;
  content: "";
  height: 939px;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-image: url(../img/bg-header-mob.png);
  background-size: cover;
  background-position: center;
  z-index: -1;
}
.page-header__inner {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0px 15px;
  padding-top: 22px;
}
.page-header__info {
  display: none;
  position: relative;
  margin-left: auto;
  z-index: 9;
}
.page-header__info-link {
  display: block;
  font-size: 20px;
  font-weight: 800;
  color: #1a1a1a;
  text-decoration: none;
  margin-bottom: 10px;
}
.page-header__info-text {
  padding-left: 48px;
  font-size: 14px;
  font-weight: 300;
  color: #1a1a1a;
}
.page-header__info-text--one {
  padding-left: 58px;
}
.menu {
  display: none;
}
.menu__list {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0px;
  margin: 0px;
  list-style: none;
}
.menu__link {
  font-size: 14px;
  font-weight: 600;
  color: #1a1a1a;
  text-decoration: none;
}
.page-header__info-text {
  display: block;
}
.gallery {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}
.gallery__list {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0px;
  margin: 0px;
  list-style: none;
}
.gallery__title {
  padding: 0px;
  margin: 0px;
  margin-bottom: 55px;
  font-size: 28px;
  font-weight: 700;
  text-align: center;
}
.gallery__name {
  padding: 0px;
  padding-left: 28px;
  margin: 0px;
  margin-bottom: 5px;
  font-weight: 700;
  color: #000;
}
.gallery__link {
  text-decoration: none;
}
.gallery__img {
  display: block;
  margin-bottom: 25px;
}
.gallery__item {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  width: 290px;
  min-height: 355px;
  margin: 0px auto;
  margin-bottom: 25px;
  background-color: #fff;
  border-radius: 10px;
}
.gallery__item:hover {
  box-shadow: 0px 12px 16px 0px rgba(1, 1, 1, 0.16);
}
.gallery__item:hover .gallery__name {
  color: #ff866e;
}
.gallery__descr {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}
.gallery__link p {
  padding: 0px;
  padding-left: 28px;
  margin: 0px;
  margin-bottom: 24px;
  font-size: 14px;
  font-weight: 300;
  color: #7a7979;
}
.gallery__price {
  display: block;
  margin-top: auto;
  margin-bottom: 21px;
  padding-left: 28px;
  font-size: 24px;
  font-weight: 700;
  color: #1a1a1a;
}
.gallery__box {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  padding: 0 28px;
}
.gallery__box-text {
  padding: 0px;
  padding-bottom: 5px;
  margin: 0px;
  font-size: 18px;
  font-weight: 300;
  color: #1a1a1a;
}
.gallery__item--studio {
  display: none;
}
.pagination {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  margin-bottom: 90px;
}
.pagination__list {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  width: 170px;
  padding: 0px;
  margin: 0px;
  list-style: none;
}
.pagination__item a {
  font-size: 18px;
  line-height: 34px;
  font-weight: 300;
  color: #1a1a1a;
  text-decoration: none;
}
.pagination__item--current a {
  color: #ffbcb1;
}
.gallery__picture {
  position: relative;
}
.gallery__icon {
  position: absolute;
  width: 13px;
  height: 12px;
  top: 30px;
  right: 30px;
  background-image: url(../img/icon-heart.png);
}
.hamburger-menu {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2px;
}
.hamburger-menu .bar {
  width: 17px;
  height: 2px;
  margin-bottom: 3px;
  position: relative;
}
.menu-main .cd-nav-trigger {
  display: block;
  background: -moz-linear-gradient(left, #f6936e 0%, #fd6141 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #f6936e), color-stop(100%, #fd6141));
  background: -webkit-linear-gradient(left, #f6936e 0%, #fd6141 100%);
  background: -o-linear-gradient(left, #f6936e 0%, #fd6141 100%);
  background: -ms-linear-gradient(left, #f6936e 0%, #fd6141 100%);
  background: linear-gradient(left, #f6936e 0%, #fd6141 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#f6936e", endColorstr="#fd6141", GradientType=1);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 31px;
  height: 31px;
  border-radius: 50%;
}
.cd-nav-trigger {
  position: relative;
  width: 25px;
  height: 100%;
  z-index: 100;
  display: none;
}
.hamburger-menu .bar:nth-child(1) {
  background: #fff;
  transition: background 0.3s cubic-bezier(0.31, -0.105, 0.43, 1.59), top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
.hamburger-menu .bar:nth-child(2) {
  background: #fff;
  transition: background 0.3s cubic-bezier(0.31, -0.105, 0.43, 1.59), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
.hamburger-menu .bar:nth-child(3) {
  background: #fff;
  transition: background 0.3s cubic-bezier(0.31, -0.105, 0.43, 1.59), bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
.hamburger-menu .bar:nth-child(1).animate {
  transform: rotate(45deg);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  background: #fff;
  top: 4px;
}
.hamburger-menu .bar:nth-child(2).animate {
  background: rgba(255, 255, 255, 0);
}
.hamburger-menu .bar:nth-child(3).animate {
  bottom: 6px;
  transform: rotate(-45deg);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  background: #fff;
}
.menu-main_container {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: .8s;
  transition-duration: .8s;
  z-index: 9;
  right: 0;
  width: 100vw;
  height: auto;
  top: 0;
  overflow: auto;
  background: #fff;
  top: -100%;
  background-size: cover;
}
.menu-open .menu-main_container {
  opacity: 1;
  visibility: visible;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: .8s;
  transition-duration: .8s;
  right: 0;
  top: 0;
}
.menu-main .menu-main_container .container {
  position: relative;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}
.menu-main_container .menu_serch {
  position: absolute;
  top: 77px;
  left: 370px;
}
.menu_serch label {
  font-size: 14px;
  color: #1a1a1a;
  font-weight: 800;
}
.menu_serch input {
  border: 0;
  border-bottom: 2px solid #1a1a1a;
  width: calc(100% - 65px);
  padding-bottom: 7px;
  font-weight: 800;
  font-size: 14px;
  color: #1a1a1a;
  padding-left: 10px;
}
.menu-main_flex {
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
}
.menu-main_flex nav {
  display: flex;
}
.menu-main_flex ul {
  list-style: none;
}
.menu-main_flex a {
  font-size: 14px;
  font-weight: 300;
  line-height: 28px;
  color: #1a1a1a;
  text-decoration: none;
}
.menu_contacts {
  padding-right: 15px;
  text-align: right;
}
.menu_contacts p {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 0px;
  line-height: 29px;
}
.menu_contacts .soc {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}
.menu_contacts .soc a {
  background: -moz-linear-gradient(left, #f6936e 0%, #fd6141 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #f6936e), color-stop(100%, #fd6141));
  background: -webkit-linear-gradient(left, #f6936e 0%, #fd6141 100%);
  background: -o-linear-gradient(left, #f6936e 0%, #fd6141 100%);
  background: -ms-linear-gradient(left, #f6936e 0%, #fd6141 100%);
  background: linear-gradient(left, #f6936e 0%, #fd6141 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#f6936e", endColorstr="#fd6141", GradientType=1);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 20px;
  color: #fff;
  margin-left: 20px;
}
.logo {
  position: relative;
  display: block;
  z-index: 10;
}
.header_top-center {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  max-width: 530px;
  align-items: center;
}
.menu-main {
  display: flex;
  align-items: center;
}
.menu-main_container .menu_serch {
  display: none;
}
.favorites {
  display: none;
}
@media (min-width: 768px) {
  .menu-main_container .menu_serch {
    display: block;
  }
  .menu-main_flex {
    padding-top: 190px;
    padding-bottom: 0px;
  }
  .container {
    padding: 0 30px;
  }
  .menu_contacts .soc {
    margin-bottom: 50px;
  }
  .menu-main_flex ul {
    padding: 0px;
    padding-left: 20px;
    margin-right: 135px;
  }
  .header_top-center {
    width: 100%;
    align-items: normal;
  }
  .menu-main_flex a  {
    font-size: 20px;
    line-height: 48px;
  }
  .menu_contacts p {
    font-size: 20px;
    margin-bottom: 35px;
  }
  .menu-main {
    margin-top: 5px;
    -ms-align-items: center;
    align-items: normal;
  }
  .menu-main_container .menu_serch {
    position: relative;
    top: 155px;
    left: 20px;
  }
  .page-header__inner {
    padding: 0 30px;
    padding-top: 60px;
  }
  .page-header__info {
    display: block;
  }
  .page-header__info-link {
    font-size: 17px;
    font-weight: 800;
    margin-bottom: 5px;
  }
  .page-header__info-text {
    padding-left: 41px;
    font-size: 12px;
    font-weight: 300;
    color: #1a1a1a;
  }
  .page-header::after {
    left: -17.5px;
    background-image: url(../img/bg-header-planshet.png);
  }
  .page-header__info-text--one {
    padding-left: 50px;
  }
  .menu {
    display: block;
    width: 280px;
    margin-top: 12px;
    margin-left: 10px;
  }
  .menu__item--contact {
    display: none;
  }
  .menu__link--company {
    color: #ff866e;
  }
  .gallery {
    padding: 0 30px;
  }
  .gallery__title {
    font-size: 36px;
    margin-bottom: 70px;
  }
  .gallery__item {
    width: 339px;
    min-height: 388px;
  }
  .gallery__link p {
    margin-bottom: 28px;
  }
  .page-header__info {
    
  }
  .page-header {
    margin-bottom: 115px;
  }
}
@media (min-width: 1024px) {
  .container {
    padding: 0px;
  }
  .page-header--fon {
    position: relative;
  }
  .page-header--fon::before {
    position: absolute;
    content: "";
    width: 115px;
    height: 115px;
    bottom: -230px;
    background-image: url(../img/ball2.png);
  }
  .favorites {
    position: relative;
    display: block;
    margin-top: 12px;
    margin-left: 35px;
    z-index: 9;
  }
  .favorites__link {
    position: relative;
  }
  .favorites__text {
    display: block;
    position: absolute;
    right: -8px;
    top: -5px;
    width: 13px;
    height: 13px;
    font-size: 10px;
    font-weight: 300;
    text-align: center;
    padding-top: 1px;
    color: #ffffff;
    background-color: #ff866e;
    border-radius: 100px;
  }
  .header_top-center {
    max-width: 830px;
   align-items: normal; 
  }
  .menu-main_container .menu_serch {
    position: relative;
    top: 70px;
    padding-left: 395px;
  }
  .menu-main_flex {
    flex-direction: row;
    justify-content: space-between;
  }
  .menu-main_flex a {
    font-size: 24px;
  }
  .menu_serch input {
    border: 0;
    border-bottom: 2px solid #1a1a1a;
    width: 340px;
    padding-bottom: 7px;
    font-weight: 800;
    font-size: 14px;
    color: #1a1a1a;
    padding-left: 10px;
  }
  .menu_contacts p {
    font-size: 24px;
  }
  .menu-main_flex ul {
    padding-left: 10px;
  }
  .page-header {
    margin-bottom: 124px;
  }
  .page-header__inner {
    padding: 0px;
    padding-top: 60px;
  }
  .page-header__info-link {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .page-header__info-text {
    padding-left: 48px;
    font-size: 14px;
    font-weight: 300;
    color: #1a1a1a;
  }
  .page-header__info-text--one {
    padding-left: 58px;
  }
  .page-header__info {
    
  }
  .menu {
    width: 425px;
    margin-top: 12px;
  }
  .menu__link--company {
    color: #1a1a1a;
  }
  .menu__item--contact {
    display: block;
  }
  .gallery {
    padding: 0px;
    margin-bottom: 70px;
  }
  .gallery__item  {
    width: 370px;
    min-height: 422px;
    margin-bottom: 50px;
  }
  .gallery__title {
    font-size: 48px;
    margin-bottom: 55px;
  }
  .gallery__img {
    margin-bottom: 30px;
  }
  .gallery__name {
    font-size: 24px;
    line-height: 27px;
    margin-bottom: 10px;
  }
  .gallery__link p {
    margin-bottom: 30px;
  }
  .gallery__item--studio {
    display: flex;
  }
  .gallery__price {
    font-size: 28px;
  }
}
@media (min-width: 1450px) {
  .gallery--fon {
    position: relative;
  }
  .gallery--fon::before {
    position: absolute;
    content: "";
    width: 84px;
    height: 87px;
    left: -140px;
    top: 520px;
    background-image: url(../img/gal-left-ball.png);
  }
  .gallery--fon::after {
    position: absolute;
    content: "";
    width: 164px;
    height: 211px;
    bottom: 95px;
    right: -174.5px;
    background-image: url(../img/gal-right-ball.png);
  }
}
.page-footer {
  background-color: #1a1a1a;
}
.page-footer__inner {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 72px;
  padding-bottom: 105px;
}
.page-footer__box {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  max-width: 550px;
  width: 100%;
  margin-bottom: 68px;
}
.page-footer__box-list {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
.page-footer__box-link {
  font-size: 15px;
  line-height: 36px;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
}
.page-footer__info {
  width: 195px;
  text-align: right;
  margin-left: auto;
}
.page-footer__info-link--tel {
  font-size: 24px;
  line-height: 36px;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
}
.page-footer__info-link--mail {
  padding-left: 95px;
  font-size: 18px;
  line-height: 36px;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
}
.page-footer__box-list--rigth {
  text-align: right;
}
@media (min-width: 768px) {
  .page-footer__inner {
    padding-left: 30px;
    padding-right: 30px;
  }
  .page-footer__box {
    max-width: 425px;
    width: 100%;
    margin-bottom: 0px;
  }
  .page-footer__box-link {
    font-size: 18px;
  }
  .page-footer__box-list--rigth {
    text-align: left;
  }
}
@media (min-width: 1024px) {
  .page-header::after {
    background-image: url(../img/bg__header.png);
  }
  .page-footer__inner {
    padding-left: 0px;
    padding-right: 0px;
  }
  .page-footer__box {
    max-width: 550px;
    width: 100%;
  }
}
.filter {
  max-width: 1170px;
  margin: 0px auto;
  margin-bottom: 90px;
}
.filter__form-inner {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
.filter-range__inner {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
}
.filter__fieldset {
  padding: 0px;
  margin: 0px;
  border: 0px;
}
.filter__title {
  padding: 0px;
  margin: 0px;
  margin-bottom: 50px;
  font-size: 30px;  
  font-weight: 800;
  text-align: center;
  color: #1a1a1a;
}
.filter__room-input {
  width: 87px;
  height: 70px;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  color: #a2a2a2;
  border: none;
}
.filter__room-name  {
  display: block;
  font-size: 24px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 28px;
  color: #1a1a1a;
}
.filter__house-name  {
  font-size: 24px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 28px;
  color: #1a1a1a;
}
.filter__room-input--studio {
  width: 134px;
  height: 70px;
  margin-bottom: 15px;
  color: #fff;
  border-radius: 100px;
  background-image: -moz-linear-gradient( -180deg, rgb(253,97,65) 0%, rgb(246,147,110) 100%);
  background-image: -webkit-linear-gradient( -180deg, rgb(253,97,65) 0%, rgb(246,147,110) 100%);
  background-image: -ms-linear-gradient( -180deg, rgb(253,97,65) 0%, rgb(246,147,110) 100%);
}
.filter__room-input--one {
  color: #fff;
  border-radius: 100px;
  background-image: -moz-linear-gradient( -180deg, rgb(253,97,65) 0%, rgb(246,147,110) 100%);
  background-image: -webkit-linear-gradient( -180deg, rgb(253,97,65) 0%, rgb(246,147,110) 100%);
  background-image: -ms-linear-gradient( -180deg, rgb(253,97,65) 0%, rgb(246,147,110) 100%);
}
.filter__room-input--two,
.filter__room-input--three {
  border-radius: 100px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 12px 16px 0px rgba(1, 1, 1, 0.06);
}
.filter__house-inner {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
}
.filter__house-name {
  display: block;
}
.filter__house-select {
  width: 230px;
  height: 70px;
  margin-bottom: 40px;
  font-size: 18px;
  font-weight: 300;
  color: #858585;
  padding-left: 28px;
  padding-right: 19px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 12px 16px 0px rgba(1, 1, 1, 0.06);
  border-radius: 100px;
  border: none;
  -webkit-appearance: none;
  background-image: url(../img/icon-daw.png);
  background-size: 9px 4px;
  background-position: 190px 33px;
  background-repeat: no-repeat;
}
.filter-range {
  width: 288px;
}
.filter-range:last-child {
  margin-right: 0px;
}
.filter-range-title {
  margin-bottom: 45px;
  color: #1a1a1a;
  text-align: center;
  font-weight: 800;
  font-size: 24px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  
  height: 36px;
  margin-bottom: 20px;

  font-size: 0;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  font-weight: 300;
  color: #858585;
  cursor: pointer;
}

.price-controls--floor,
.price-controls--price,
.price-controls--area {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
}
.price-controls--floor input {
  width: 15px;
  margin: 0;
  padding: 0px;
  color: inherit;
  font: inherit;

  background: none;
  border: none;
  outline: none;
}
.price-controls--price input {
  width: 55px;
  margin: 0;
  padding: 0px;
  color: inherit;
  font: inherit;

  background: none;
  border: none;
  outline: none;
}
.price-controls--area input {
  width: 45px;
  margin: 0;
  padding: 0px;
  color: inherit;
  font: inherit;

  background: none;
  border: none;
  outline: none;
}

.range-controls {
  position: relative;

  margin-bottom: 20px;
}

.range-controls .scale {
  height: 4px;

  background: rgba(134, 133, 133, 0.3);
}

.range-controls .bar {
  width: 60%;
  height: 4px;

  background: #ff866e;
}
.range-toggle span {
  font-size: 18px;
  font-weight: 300;
  color: #1a1a1a;
}
.range-toggle-min--floor {
  left: 60px;
}
.range-toggle-max--floor {
  position: relative;
  right: 68px;
}
.range-toggle-min--price {
  left: 58px;
}
.range-toggle-max--price {
  position: relative;
  right: 124px;
}
.range-toggle-min--area {
  left: 0px;
}
.range-toggle-max--area {
  position: relative;
  left: 170px;
}
.range-toggle-min--price span {
  position: absolute;
  width: 85px;
  top: 33px;
  left: 3px;
}
.range-toggle-max--price span {
  position: absolute;
  width: 85px;
  top: 33px;
  left: 3px;
}
.range-toggle-min--floor span {
  position: absolute;
  top: 33px;
  left: 3px;
}
.range-toggle-max--floor span {
  position: absolute;
  top: 33px;
  left: 3px;
}
.range-toggle-max--area span {
  position: absolute;
  width: 60px;
  top: 33px;
  left: 3px;
}
.range-controls--floor .bar {
  width: 50%;
  height: 4px;
  margin-left: 64px;
  background: #ff866e;
}
.range-controls--price .bar {
  width: 30%;
  height: 4px;
  margin-left: 70px;
  background: #ff866e;
}
.range-controls--area .bar {
  width: 60%;
  height: 4px;
  background: #ff866e;
}
.range-toggle {
  position: absolute;
  top: -13px;

  width: 23px;
  height: 23px;

  background: #ff866e;
  border: 3px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0px 12px 16px 0px rgba(1, 1, 1, 0.06);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f8;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}
.filter__form-btn {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  max-width: 296px;
  width: 100%;
  height: 71px;
  font-size: 18px;
  line-height: 71px;  
  font-weight: 800;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border-radius: 100px;
  background-image: -moz-linear-gradient( -180deg, rgb(253,97,65) 0%, rgb(246,147,110) 100%);
  background-image: -webkit-linear-gradient( -180deg, rgb(253,97,65) 0%, rgb(246,147,110) 100%);
  background-image: -ms-linear-gradient( -180deg, rgb(253,97,65) 0%, rgb(246,147,110) 100%);
}
.filter__wrapper {
  padding: 0 15px;
}
.filter__room-input--two {
  width: 112px;
}
.filter__room-input--three {
  width: 112px;
}
.filter__room-inner {
  width: 233px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .filter {
    margin-bottom: 95px;
  }
  .filter__form-inner {
    align-items: normal;
    align-content: normal;
  }
  .filter__wrapper {
    padding: 0 30px;
  }
  .filter__room-inner {
    width: 434px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 0;
  }
  .filter-range__inner {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .filter__room-descr {
    width: 434px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .filter__title {
    font-size: 44px;
    margin-bottom: 115px;
  }
  .filter__room-name {
    text-align: left;
  }
  .filter__house-select {
    margin-bottom: 0px;
  }
  .filter-range-title {
    text-align: left;
    margin-bottom: 45px;
  }
  .filter__house-name {
    text-align: left;
  }
  .filter__fieldset {
    margin-bottom: 57px;
  }
  .filter__fieldset:last-child {
    margin-bottom: 0px;
  }
  .filter-range {
    width: 340px;
    margin: 0px;
    margin-bottom: 20px;
  }
  .filter__house-inner {
    width: 545px;
    flex-direction: row;
    justify-content: space-between;
  }
  .filter__house-select {
    width: 134px;
    background-image: url(../img/icon-daw.png);
    background-position: 108px 33px;
  }
  .filter__room-input--two {
    width: 87px;
  }
  .filter__room-input--three {
    width: 87px;
  }
  .filter__form-btn {
    margin-top: 0px;
  }
  .range-controls--price .bar {
    width: 30%;
    height: 4px;
    margin-left: 100px;
    background: #ff866e;
  }
  .range-toggle-min--price {
    left: 78px;
  }
  .range-toggle-max--price {
    right: 130px;
  }
  .range-controls--floor .bar {
    width: 50%;
    height: 4px;
    margin-left: 64px;
    background: #ff866e;
  }
  .range-toggle-max--floor {
    right: 90px;
  }
  .range-controls--area .bar {
    width: 65%;
    height: 4px;
    background: #ff866e;
  }
  .range-toggle-max--area {
    left: 215px;
  }
  .filter__room-input--studio {
    margin-bottom: 0px;
  }
}
@media (min-width: 1024px) {
  .filter {
    margin-bottom: 100px;
  }
  .filter--fon {
    position: relative;
  }
  .filter--fon::before {
    position: absolute;
    content: "";
    width: 84px;
    height: 87px;
    bottom: -17px;
    left: -95px;
    background-image: url(../img/ball3.png);
  }
  .filter--fon::after {
    position: absolute;
    content: "";
    width: 84px;
    height: 87px;
    top: -100px;
    right: -145px;
    background-image: url(../img/ball1.png);
  }
  .filter__wrapper {
    padding: 0px;
  }
  .filter__form-inner {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
  .filter-range {
    width: 379px;
    margin-bottom: 0px;
    margin-right: 15px;
  }
  .filter__room-inner {
    width: 430px;
  }
  .filter__house-inner {
    width: 518px;
  } 
  .filter__fieldset {
    margin-bottom: 70px;
  }
  .filter__fieldset:last-child {
    margin-bottom: 0px;
  }
  .filter__title {
    font-size: 60px; 
    margin-bottom: 115px;
  }
  .filter-range-title {
    margin-bottom: 50px;
  }
  .filter-range__inner {
    margin-bottom: 75px;
  }
  .range-controls--price .bar {
    width: 30%;
    height: 4px;
    margin-left: 103px;
    background: #ff866e;
  }
  .range-toggle-min--price {
    left: 101px;
  }
  .range-toggle-max--price {
    right: 149px;
  }
  .range-controls--floor .bar {
    width: 55%;
    height: 4px;
    margin-left: 64px;
    background: #ff866e;
  }
  .range-controls--area .bar {
    width: 60%;
    height: 4px;
    background: #ff866e;
  }
  .range-toggle-max--area {
    left: 215px;
  }
}